@use 'rails_ui/app/stylesheets/phone';
@use 'sources/font';
@use 'variables/bulma';
@use 'variables/weui';

.button.is-warning {
  background-color: #ff933b;
  color: #fff;
}

.cards.in-business {
  .card:nth-child(odd) {
    background-image: url(/background_1.jpg);
    background-size: auto 100%;
  }
  .card:nth-child(even) {
    background-image: url(/background_2.jpg);
    background-size: auto 100%;
  }
}
